<html>
  <head>
    <title>Customer List</title>
    <link rel="stylesheet" href="<%= URI('style.css') %>"/>
  </head>

  <body>
  <h1 class="yellow-background">Customers</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>ID</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% customers.each do |customer| %>
          <tr>
            <td><%= customer.name %></td>
            <td><%= customer.phone %></td>
            <td><%= customer.id %></td>
            <td><a href="/customers/<%= customer.id %>">Show Details</a></td>
            <td><a href="/customers/<%= customer.id %>/edit">Edit</a></td>
            <td><a href="/customers/<%= customer.id %>/delete"><button type="submit">Delete</button></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <a href="/customers/create">Create New Customer</a>
    <br><br><a href="/"><button>Back</button></a>
  </body>
</html>
